SPOTIFY_CLIENT_ID=your_client_id_here
SPOTIFY_CLIENT_SECRET=your_client_secret_here
SPOTIFY_REDIRECT_URI=http://localhost:3000/callback  # if localhost fails, use http://127.0.0.1:3000/callback (and register that in your Spotify dashboard)
CONTACT_EMAIL=your_email_here
